form{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
fieldset{
    width: 500px;
    height: 250px;
    display: flex; 
    flex-direction: column;
    align-items: center;
    border-radius: .5em;
    box-shadow: rgba(0, 0, 0, 0.664) 10px 10px 50px;
    background: rgba(117, 97, 97, 0.226);
}
input{
    width: 60%;
    margin: .75em;
    position: relative;
    top: 1em;
    border: .5px solid #000 .75;
    border-radius: .5em;

}   
input[type="submit"]{
    top: .5em;
    width: 5.5em;
    left: 8ch;
    box-shadow: -4px 4px 10px inset rgb(248, 252, 11);
    box-shadow: -4px -4px 5px inset rgba(21, 255, 0, 0.342);
}