<style>

form{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
fieldset{
    width: 500px;
    height: 250px;
    display: flex; 
    flex-direction: column;
    align-items: center;
    border-radius: .5em;
    box-shadow: #000 10px 10px 30px 0px inset;
    background: rgba(117, 97, 97, 0.226);
}
input{
    width: 60%;
    margin: .75em;
    position: relative;
    top: 1em;
    border: .5px solid #000 .75;
    border-radius: .5em;

}   
input[type="submit"]{
    top: .5em;
    width: 5.5em;
    left: 8ch;
}

</style>